@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  @apply text-base leading-6 font-normal antialiased;
  @apply text-gray-900 dark:text-gray-200;
  @apply bg-neutral-100 dark:bg-neutral-900;
}

a {
  @apply font-medium decoration-inherit;
  @apply transition duration-150;
  @apply text-sky-600 dark:text-sky-500 hover:text-sky-700 dark:hover:text-sky-600;
}

body {
  @apply m-0 flex place-items-center min-h-screen;
}

.input-wrapper {
  @apply relative w-full overflow-hidden rounded-lg bg-white text-left shadow-md focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-teal-300 sm:text-sm;
}
.input-wrapper .input,
.input-wrapper.input {
  @apply w-full border-none py-3 pl-4 pr-10 text-base leading-5 text-gray-900 focus:ring-0;
}

.input-options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm z-10;
}

.input-options .input-option {
  @apply relative cursor-default select-none py-2 px-4;
}
.input-options .input-option.active {
  @apply bg-teal-600 text-white;
}
.input-options .input-option.inactive {
  @apply text-gray-900;
}
.input-options .input-option .input-option-text {
  @apply block truncate font-normal;
}
.input-options .input-option .input-option-text.selected {
  @apply font-medium;
}
.input-options .input-option .input-option-icon {
  @apply absolute inset-y-0 left-0 flex items-center pl-3 text-teal-400;
}
